# Supabase — get from https://app.supabase.com → Project Settings → API
NEXT_PUBLIC_SUPABASE_URL=https://bywhkhoohgndkkkkanuo.supabase.co/rest/v1/
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_QJLevs1fIE42vWQNQs5vig_FU3mNU0b

# Supabase DB connection — get from Project Settings → Database → Connection string (URI)
# Use the "Transaction" pooler URL for serverless (port 6543)
DATABASE_URL=postgresql://postgres:M@n@\/@060599@db.bywhkhoohgndkkkkanuo.supabase.co:5432/postgres

# Direct connection for Prisma migrations (port 5432)
DIRECT_URL=postgresql://postgres.bywhkhoohgndkkkkanuo:M@n@\/@060599@aws-1-ap-northeast-1.pooler.supabase.com:5432/postgres"
